body{
     background-color: rgb(145, 85, 47);
     margin: 0px;
}
.br h1{
    display: inline;
    margin-inline-start: 40px;
    color: azure;
}
h2{
    margin-left: auto;
}
nav{
    display: flex;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
nav li{
    list-style: none;
    margin-right: 20px;
  }
nav a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}
header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #141414;
    font-variant: small-caps;
}
footer{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    background-color: rgb(20, 20, 20);
    color: azure;

}
.End{
    display:flex;
    color: azure;
    gap: 10px;
}
svg{
    justify-content: space-between;
    width: 40px ;
    color: azure;
    background-color: azure;
    border-radius: 8px;
    margin: 10px;
}
@media(max-width:768px){
 header{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #141414;
    font-variant: small-caps;
    width: 610px;
}

    footer{
        width: 610px;
    }
    nav{
    display: flex;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
}