{% extends 'base.html' %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <div class="contact">
        <form action="{% url 'contact' %}" method="post" class="cont">
              {% csrf_token %}
              <h1>For Contact</h1>
              <div class="group">
              <label>Name:</label>
              <input type="text" name="Name" required>
              </div>
              <div class="group">
              <label>Email:</label>
              <input type="email" name="Email" required>
              </div>
              <div class="group">
              <label>Message:</label>
              <input type="text" name="Message" required>
              </div>
              <button type="submit">Contact</button>
        </form>
        <img src="{% static 'image/mo.jpg' %}" alt="ee">
    </div>
{% endblock %}