{% extends 'base.html' %}
{% load static %}
{% block body %}
 <link rel="stylesheet" href="{% static 'css/order.css' %}">

    <div class="ordertype">
        <section class="order">
        <h2 id="tu">{{ drink.menu_name }}</h2>

            <p>{{ drink.menu_description }}</p>
            <button>Delivery</button>
        </section>
        <section class="ca">
            <img src="{{ drink.menu_image.url }}" alt="">
            <p>Price: ${{ drink.menu_price }}</p>
        </section>
    </div>

{% endblock %}